body {
    margin: 100;
    padding: 20;
    font-family: Helvetica;
  }
  
  header {
    background-color: #4caf50;
    margin: 0 auto;
    height: 50px;
  }
  
  header h2 {
    padding: 10px;
    margin: 0;
    font-family: Helvetica;

  }
  
  /* main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
  } */
  
  form input, textarea {
    background-color: #eeeeee;
    font-size: 1.00em;

  }
  div.card {
    background-color: #eeeeee;
    /*height: 250px;*/
    /*width: 800px; */
    box-shadow: 15px 10px grey;
    padding: 5px;
    border-radius: 5px;
    margin: 20px;
    /* font-size: 1.00em; */

  }


  

  
  li {
    font-size: 1.00em;
    list-style: none;
    padding-right: 20px;
  }
  
  button {
    font-size: 1.0em;
    color: #fff;
    background-color: green;
    /*border-radius: 10px;*/
  }
  
  button.release {
    float: right;
    background-color: #E1332D;
  }
  

  
  

  